 
.records-row {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, .25);
  box-shadow: 0 2px 4px rgba(0, 0, 0, .25);
  box-sizing: border-box;
  cursor: pointer;
  display: list-item;
  float: left;
  font-size: 1.525rem;
  font-style: italic;
  list-style-position: inside;
  list-style-type: decimal;
  margin-top: -1px;
  padding: 1.6rem;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: transform .5s ease;
  width: 100%;
}

.records-row:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  background: #eee;
}

.records-row .points {
  float: right;
  background: #4e6df0;
  border-radius: 50%;
  color: #fff;
  padding: 1.5rem;
  text-align: center;
}